@import "tailwindcss";
body {
  @apply bg-neutral-900 text-gray-100 font-sans;
}

/* Custom scrollbar for the transaction list (Optional but looks nice) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #262626; /* neutral-800 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #525252; /* neutral-600 */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #737373; /* neutral-500 */
}
